{% extends 'main_template.html' %}

{% block header %}
<h1>{% block title %}Login{% endblock %}</h1>
{% endblock %}

{% block content %}

<form method="post">
    <p><input type=text name=username value="John">
    <p><input type=text name=password value="123">
    <p><input type=submit value=Login>
</form>

{% endblock %}